.template_one {

    &_intro {
        background-image: url('/images/themes/svg/background-pattern.svg');
        .profile_picture {
            background-image: linear-gradient(to bottom right, #FFD279, #FFF659);
            box-shadow: 0 0 4.125rem #FFE26B;
        }
    }

    &_skills {
        .card_images {
            background-image: linear-gradient(to bottom right, #FFD279, #FFF659);
        }
    }

    &_experiences {
        background-image: url('/images/themes/svg/background-pattern-2.svg');
        .card_images {
            background-image: linear-gradient(to bottom right, #FFD279, #FFF659);
        }
    }

    &_testimonials {
        .card:hover .card_image {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}
